<% provide(:title, 'Sobre nosotras') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Tuturial de Ruby en Rails | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      el <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      es un tutorial que nos ayuda a hacer un libro y despliege de pantalla
      con <a href="http://rubyonrails.org/">Ruby on Rails</a>. y esta es una pequeña aplicacion del tutorial
    </p>
  </body>
</html>