<% provide(:title, 'Inicio')%>
<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial de ruby en rails | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Proyecto</h1>
    <p>
      Esta es nuestra pagina de inicio para
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      de  nuestro proyecto
    </p>
  </body>
</html>